@import "tailwindcss";

*{
  font-family: 'Courier New', Courier, monospace;
}
body{
 width: 100vw;
 height: 100vh;
}

.H1text{
  font-size: clamp(1.2rem, 1.4vw, 3rem);
}

.titleText {
  font-size: clamp(1.7rem, 2.5vw, 3rem);

}

.pageReference{
  font-size: clamp(1rem, 3vw, 4rem);
}

.buttonText{
  font-size: clamp(1rem, 3vw, 2rem);
}

.frameText{
  font-size: clamp(1rem, 3vw, 2rem);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}