@import "tailwindcss";

*{
  font-family: 'Courier New', Courier, monospace;
}
body{
 width: 100vw;
 height: 100vh;
}

.titleText {
  font-size: clamp(1.7rem, 2.5vw, 3rem);

}

.pageReference{
  font-size: clamp(1rem, 3vw, 4rem);
}

.buttonText{
  font-size: clamp(1rem, 3vw, 2rem);
}

.frameText{
  font-size: clamp(1rem, 3vw, 2rem);
}